body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navbar {
    padding: 16px 48px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 48px
}

.navbar a,
.hero-text .text {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#hero {
    display: flex;
    padding: 48px;
    background-color: #1F2937;
    justify-content: center;
}

.hero-text {
    padding: 32px;
    width: 600px;
}

.hero-text .header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 16px;
}

.hero-text .text {
    margin-bottom: 16px;
}

.hero-text button {
    background-color: #3882F6;
    padding: 8px 16px;
    color: #F9FAF8;
    border-radius: 4px;
}

#hero img {
    width: 400px;
    height: auto;
    border-radius: 4px;
}

#about {
    padding: 48px;
    text-align: center;
}

#about .header {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
}

.about-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.about-info .info {
    max-width: 200px;
}

#about img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
}